<div class="row">
  <div class="col s12">
    <div class="flex flex-row justify-between">
      <span class="text-3xl">Positions:</span>
      <button mat-flat-button color="primary" (click)="openDialog(false)">
        <mat-icon>add</mat-icon>
        <span class="ml-2">Add position</span>
      </button>
    </div>

    <div *ngIf="!loading; else loader">
      <div class="mt-10" *ngIf="positions.length !== 0; else empty">
        <mat-selection-list
          [multiple]="false"
          cdkDropList
          (cdkDropListDropped)="drop($event)"
          [cdkDropListData]="positions"
        >
          <mat-list-option *ngFor="let position of positions" cdkDrag [cdkDragData]="position">
            <a class="flex flex-row justify-between items-center">
              <span class="text-lg font-medium">
                {{ position.title | titlecase }} <strong>{{ position.cost }}$</strong>
              </span>
              <div>
                <button
                  mat-icon-button
                  color="primary"
                  class="hover:text-green-500"
                  (click)="openDialog(true, position)"
                >
                  <mat-icon>update</mat-icon>
                </button>
                <button mat-icon-button color="warn" class="hover:text-green-500" (click)="deletePosition(position)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </a>
          </mat-list-option>
        </mat-selection-list>
      </div>
      <ng-template #empty>
        <div class="text-center">There are no positions in the selected category.</div>
      </ng-template>
    </div>
    <ng-template #loader>
      <app-spinner></app-spinner>
    </ng-template>
  </div>
</div>
