<main class="relative" *ngIf="!loading; else loader">
  <mat-card>
    <div class="p-5">
      <mat-card-title>
        <app-history-title></app-history-title>
      </mat-card-title>

      <div>
        <mat-card-subtitle>
          <app-history-filter (filterData)="applyFilter($event)"></app-history-filter>
        </mat-card-subtitle>
      </div>
    </div>

    <mat-card-content>
      <app-history-list [orders]="orders" (pageChange)="onPageChange($event)"></app-history-list>
    </mat-card-content>
  </mat-card>
</main>

<ng-template #loader>
  <app-spinner></app-spinner>
</ng-template>
