<div class="p-5" *ngIf="order">
  <mat-card>
    <div class="flex flex-col gap-5">
      <mat-card-title class="p-3">Order No. {{ order.order }}</mat-card-title>

      <table mat-table [dataSource]="order.list" class="p-3" *ngIf="order.list.length !== 0; else empty">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let order">{{ order.name }}</td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantity</th>
          <td mat-cell *matCellDef="let order">{{ order.quantity }}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let order">{{ order.cost | currency }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <ng-template #empty>
        <p class="text-center text-2xl">You have not added any orders at this time</p>
      </ng-template>

      <mat-card-footer class="p-3">
        <p class="text-lg text-end">
          Total cost <strong> {{ order.list | getTotalAmount | currency }} </strong>
        </p>
      </mat-card-footer>

      <mat-card-actions align="end">
        <div class="flex flex-row gap-5 p-3">
          <button mat-raised-button color="primary" (click)="accept()">Close</button>
        </div>
      </mat-card-actions>
    </div>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card>
</div>
